# volcano pantry report
#
# requirements
# repository secrets: https://github.com/boly38/volcano-activity/settings/secrets/actions
# - VOLCANO_GITHUB_TOKEN : write access for this repository
# - VOL_PANTRY_ID : pantry bucket secret id

name: VOLCANO_PANTRY_REPORT

# Controls when the action will run.
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  pantryReport:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
        node-version: [18.x]

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: setup NodeJS ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
          cache-dependency-path: |
            package-lock.json
            frontend/package-lock.json

      - name: Install dependencies
        run: npm install

      - name: Pantry export
        run: npm run pantryExport
        env:
          VOL_PANTRY_ID: ${{ secrets.VOL_PANTRY_ID }}
          VOL_LOGTAIL_SOURCE_ID: ${{ secrets.VOL_LOGTAIL_SOURCE_ID }}
          VOL_LOGTAIL_SOURCE_TOKEN: ${{ secrets.VOL_LOGTAIL_SOURCE_TOKEN }}

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.VOLCANO_GITHUB_TOKEN }}
          title: "pantryReport"
          body: "report changes from pantry store via [pantryReport](.github/workflows/pantryReport.yml) github action"
          commit-message: "pantryReport"
